{% extends 'base.html.twig' %}

{% block title %}Modifier joueur | CoachManager{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1 class="cm-page-title">Modifier un joueur</h1>
        <p class="cm-page-subtitle">{{ player.nom }} {{ player.prenom }}</p>
    </div>
    <div class="cm-card p-4">
        {{ include('player/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
        <div class="mt-3 pt-3 border-top border-secondary-subtle">
            {{ include('player/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
