{% extends 'base.html.twig' %}

{% block title %}Nouveau joueur | CoachManager{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1 class="cm-page-title">Ajouter un joueur</h1>
        <p class="cm-page-subtitle">Inscription d un nouveau joueur a l effectif.</p>
    </div>
    <div class="cm-card p-4">
        {{ include('player/_form.html.twig') }}
    </div>
{% endblock %}
