{% extends 'base.html.twig' %}

{% block title %}Nouvelle equipe | CoachManager{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1 class="cm-page-title">Creer une equipe</h1>
        <p class="cm-page-subtitle">Ajoute une nouvelle categorie d equipe a ton club.</p>
    </div>
    <div class="cm-card p-4">
        {{ include('team/_form.html.twig') }}
    </div>
{% endblock %}
