<form method="post" action="{{ path('app_rencontre_delete', {'id': rencontre.id}) }}" onsubmit="return confirm('Supprimer ce match ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rencontre.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
