{% extends 'base.html.twig' %}

{% block title %}Modifier match | CoachManager{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1 class="cm-page-title">Modifier la rencontre</h1>
        <p class="cm-page-subtitle">{{ rencontre.team.nom }} vs {{ rencontre.opponent }}</p>
    </div>
    <div class="cm-card p-4">
        {{ include('rencontre/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
        <div class="mt-3 pt-3 border-top border-secondary-subtle">
            {{ include('rencontre/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
