{% extends 'base.html.twig' %}

{% block title %}Nouveau match | CoachManager{% endblock %}

{% block body %}
    <div class="mb-4">
        <h1 class="cm-page-title">Planifier un match</h1>
        <p class="cm-page-subtitle">Renseigne l adversaire, la date et l equipe concernee.</p>
    </div>
    <div class="cm-card p-4">
        {{ include('rencontre/_form.html.twig') }}
    </div>
{% endblock %}
